p {
	margin: 0;
}
.container-fuild {
 margin: 0 auto;
 padding-top: 30px;
 text-align: center;
 /* border: 1px solid red; */
 font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.container-fuild > .row {
 /* border: 1px solid red; */
 margin-top: 30px;
 width: 100%;
 margin-left:0px;
}
.container-fuild > .row > div > p {
 font-size: 12px;
 padding-top: 5px;
}
.treaty {
 /* border: 1px solid red; */
 padding-top: 25px;
 font-size: 12px;
}
.treaty > span {
 color: #00A862;
}